# Ilova nomi (brauzer tab va sarlavha)
# VITE_APP_NAME=Maxalla Do'konlari

# Login sahifasidagi qisqa nom
# VITE_APP_SHORT_NAME=Maxalla dokoni

# Backend API manzili
VITE_API_URL=http://192.168.1.5:5000
